<!DOCTYPE html>

<form action="/square/results">
  <div>
    <label for="square_input">Enter a number</label>
  </div>
  <div>
    <input id="square_input" type="text" name="number" placeholder="What number do you want to square?">
  </div>

  <button>Calculate square</button>
</form>
